<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Startup App</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <input type="text" class="search" placeholder="Search">

            <button onclick="location.href='/newpost'" class="new-post">New Post</button>
            <div class="dropdown">
            <button class="dropbtn"><img class="pfp" src="<%= pfp %>" alt=""><%= name %></button>
            <div class="dropdown-content">
              <a href="/profile">Profile Options</a>
              <a href="#">Log out</a>
            </div>
          </div></div>
        <div class="feed">
            <% currentPosts.forEach(function(item){ %>
                <div class="post">
                <img src="<%= item.pfp%>" alt="" class="profile-image">
                <h1 class="post-name"> <%= item.heading %> </h1>
                <img src="<%= item.profile_picture %>" class="post-photo" alt="">
                <hr>
                <p class="post-desc"> <%= item.description %> </p>
                </div>
            <% }) %>
        </div>
        </div>
    </form>
    </div>
    <div class="profile-card">
        <img src="" alt="">
        <h1></h1>
        <div class="award"></div>
    </div>
</form>
</body>
</html>